@use 'styles/vendors/bootstrap/bootstrap' as *;
@use 'styles/utilities' as *;
@use 'styles/variables' as *;

// Bootstrap customization
.btn {
  font-size: 0.75rem;
  padding: 0.6rem 3.75rem;
  box-shadow: 0px 3px 15px -5px rgba($neutral-very-dark-cyan, 0.25);
}
.btn-sm {
  font-size: 0.65rem;
  padding: 0.25rem 1.5rem;
}
.card {
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 12px 0px rgba($neutral-grayish-blue, 0.2);
}
.card-img-top {
  margin-bottom: 3.55rem;
  width: 88%;
}
.card-body {
  padding: 2.5rem;
}
.card-title {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
}
.card-text {
  color: $neutral-grayish-blue;
  font-size: 0.87rem;
}
.jumbotron {
  margin-bottom: 3.5rem;
}
// Bootstrap customization

// Project specific
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}
body {
  font-family: "Open Sans";
  line-height: 1.5;
  color: $neutral-very-dark-cyan;
}
.jumbotron-header {
  background-image: url("images/bg-hero-mobile.svg");
  background-size: cover;
  background-position: center center;
  background-color: $neutral-very-pale-cyan;
  padding: 0;

  .heading-1 {
    font-family: "Poppins";
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
.navbar {
  margin-bottom: 4.5rem;
}
.navbar-brand img {
  width: 102px;
}
.btn-get-started {
  margin-bottom: 3.3rem;
}
.jumbotron-text {
  font-size: 1rem;
  padding: 0 1.25rem;
  margin-bottom: 2rem;
}
.img-illustration-mockups {
  width: 88%;
  margin-bottom: 2rem;
}
.card-get-started {
  position: relative;
  top: 80px;
  .card-body {
    padding: 2.85rem 1rem;
    .card-title {
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
    }
    .btn {
      font-size: 0.65rem;
      padding: 0.725rem 3rem;
      box-shadow: 0px 5px 15px -5px rgba(0, 37, 46, 0.5);
    }
  }
}
.footer {
  background-color: $neutral-very-dark-cyan;
  color: $neutral-very-pale-cyan;
  padding-top: 135px;
  padding-bottom: 50px;
  li {
    padding: 10px 0;
    a {
      color: $neutral-very-pale-cyan;
      font-size: 1.1rem;
      .footer-logo {
        width: 50%;
      }
    }
    .footer-info {
      padding-left: 10px;
    }
  }
  .icons {
    a {
      color: $neutral-very-pale-cyan;

      &:last-child {
        [class^="icon-"] {
          margin-right: 0px;
        }
      }
      [class^="icon-"] {
        padding: 7px;
        border-radius: 100%;
        font-size: 0.9rem;
        margin-right: 8px;
        border: 1px solid $neutral-very-pale-cyan;
      }
    }
  }
}
.copyright {
  font-size: 0.7rem;
}
.icon-location {
  font-size: 1.2rem;
}
.icon-phone_in_talk {
  font-size: 1.45rem;
}
.icon-mail3 {
  font-size: 1.2rem;
}

@include media-breakpoint-up(sm) {
  .btn {
    font-size: 0.8rem;
    padding: 0.7rem 3.75rem;
  }
  .btn-sm {
    font-size: 0.7rem;
    padding: 0.5rem 1.85rem;
  }
  .card-get-started .card-body .btn {
    font-size: 0.8rem;
    padding: 0.825rem 3rem;
  }
}

@include media-breakpoint-up(md) {
  .jumbotron-text {
    padding: 0;
  }
  .img-illustration-mockups {
    width: 95%;
  }
  .card {
    .card-body {
      padding: 2rem 1.75rem 2rem 0.5rem;
    }
    .card-img-top {
      margin-bottom: 0;
    }
  }
  .card-get-started {
    width: 73%;
    margin-right: auto;
    margin-left: auto;

    .card-body {
      padding: 2.85rem 1rem !important;
      .card-title {
        font-size: 1.35rem;
        margin-bottom: 1.75rem;
      }
      .btn {
        font-size: 0.95rem;
        padding: 0.825rem 3.5rem;
      }
    }
  }
  .btn {
    font-size: 0.85rem;
    padding: 0.75rem 3.75rem;
  }
  .btn-sm {
    font-size: 0.75rem;
    padding: 0.6rem 2.75rem;
  }
  .navbar-brand img {
    width: 125px;
  }
  .footer li {
    &:first-child {
      padding-top: 0px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .jumbotron-header {
    .heading-1 {
      font-size: 2rem;
    }
  }
  .card-title {
    font-size: 1.75rem;
  }
  .card-text {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(xl) {
  .btn-sm {
    font-size: 0.92rem;
    padding: 0.77rem 3.85rem;
  }
  .navbar-brand img {
    width: 185px;
  }
  .jumbotron-header {
    .heading-1 {
      font-size: 2.45rem;
    }
    .jumbotron-text {
      font-size: 1.15rem;
    }
    .btn-get-started {
      padding: 1.1rem 4.5rem;
    }
  }
  .card-title {
    font-size: 1.75rem;
  }
  .card-text {
    font-size: 1.15rem;
  }
  .card-get-started {
    width: 73%;
    margin-right: auto;
    margin-left: auto;
    top: 115px;
    .card-body {
      padding-top: 4.375rem;
      padding-bottom: 3.15rem;
      .card-title {
        font-size: 2rem;
        margin-bottom: 2.5rem;
      }
      .btn {
        font-size: 1.25rem;
        padding: 1.5rem 6.15rem;
      }
    }
  }
  .footer {
    padding-top: 200px;
  }
  .copyright {
    font-size: 0.75rem;
  }
}

// Project specific
